<h2>List of Exercises</h2>

<!--
<h3>List without any behaviour</h3>
<ul class="exercises">
  <li *ngFor='let exercise of exercises'>
    <span class="exercise">{{exercise.id}}</span>{{exercise.name}}
  </li>
</ul>
<h3>List with links that execute specific method</h3>
-->
<ul class="exercises">
  <li *ngFor='let exercise of exercises' (click)="onSelectExercise(exercise)" [class.selected]="exercise===exerciseSelected">
    <span class="badge">{{exercise.id}}</span>{{exercise.name}}
  </li>
</ul>

<!-- add the exercise-detail template to this view.
     with [exercise]="exerciseSelected" we pass the value of exerciseSelected to
     the exercise-detail component in a variable called exercise via Input()
-->
<app-exercise-detail [exercise]="exerciseSelected"></app-exercise-detail>
