<h2>List of Exercises</h2>

<!--
<h3>List without any behaviour</h3>
<ul class="exercises">
  <li *ngFor='let exercise of exercises'>
    <span class="exercise">{{exercise.id}}</span>{{exercise.name}}
  </li>
</ul>
<h3>List with links that execute specific method</h3>
-->
<ul class="exercises">
  <li *ngFor='let exercise of exercises' (click)="onSelectExercise(exercise)">
    <span class="badge">{{exercise.id}}</span>{{exercise.name}}
  </li>
</ul>

<!-- with ngIf we can show an element only if it's initialized -->
<div *ngIf="exerciseSelected.id">
  <h2>Details</h2>
  <div>
    <span>id: </span>{{exerciseSelected.id}}
  </div>
</div>
